.node-red/.flows_config.json.backup
[{"id":"22802122.361e2e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf209beb.c2a308","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"25956a03.aff2be","type":"websocket-listener","z":"","path":"/ws/location","wholemsg":"false"},{"id":"6314d6bf.02881","type":"mqtt in","z":"22802122.361e2e","name":"Presence","topic":"/presences","qos":"2","broker":"bf209beb.c2a308","x":140,"y":140,"wires":[["c92232df.735438"]]},{"id":"9fefe88b.7c53f8","type":"mqtt in","z":"22802122.361e2e","name":"Location","topic":"/location","qos":"2","broker":"bf209beb.c2a308","x":140,"y":200,"wires":[["cd6e566a.ba67f"]]},{"id":"c92232df.735438","type":"json","z":"22802122.361e2e","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["4a932eed.4791a"]]},{"id":"cd6e566a.ba67f","type":"json","z":"22802122.361e2e","name":"","property":"payload","action":"","pretty":false,"x":330,"y":200,"wires":[["1a8327be.334d3"]]},{"id":"4a932eed.4791a","type":"websocket out","z":"22802122.361e2e","name":"WS Presence","server":"25956a03.aff2be","client":"","x":540,"y":140,"wires":[]},{"id":"1a8327be.334d3","type":"websocket out","z":"22802122.361e2e","name":"WS Location","server":"25956a03.aff2be","client":"","x":530,"y":200,"wires":[]},{"id":"bb804e9f.8a5978","type":"http in","z":"22802122.361e2e","name":"Login","url":"/presence/send","method":"post","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["386c71cd.1c7b56"]]},{"id":"386c71cd.1c7b56","type":"mqtt out","z":"22802122.361e2e","name":"Device Logged","topic":"/location","qos":"1","retain":"true","broker":"bf209beb.c2a308","x":360,"y":280,"wires":[]}]